* {
  font-family: 'Poppins', sans-serif;
  color: #E4E6EB;
}

body {
  background-color: #18191A;
  margin: 0;
  padding: 0;
}

html, body {
  scroll-behavior: smooth;
}
.blog-header, .blog-main {
  margin: 30px 30px 0;
}

.top-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 28px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #17171F;
  z-index: 2;
  animation: slide-top 1.5s ease-out;
}

.title-container {
  display: flex;
  align-items: center;
}

@keyframes slide-top {
  from {
      top: -100px;
  }
  to {
      top: 0;
  }
}

.nav-bar {
  display: flex;
  text-decoration: none;
  justify-content: space-around;
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

li > a,
.js-link > a {
  padding: 10px 25px;
}

.nav-bar li:hover,
.js-link a:hover {
  background-color: rgb(163 163 255);
  border-radius: 25px;
}

.nav-bar .home:hover a,
.nav-bar .links:hover a,
.nav-bar .about-me:hover a,
.nav-bar .challenges:hover a
{
  color: black;
}

.js-link:hover a {
  color: #18191A
}


.main-img {
  position: absolute;
  height: auto;
  width: 450px;
  object-fit: contain;
  top: 20%;
  right: 25%;
  opacity: 60%;
  border-radius: 20px;
  z-index: -1;
  animation: slide-right 1.5s ease-out;
}

@keyframes slide-right {
  from {
      right: 5%;
      opacity: 0%;
  }
  to {
      right: 25%;
      opacity: 60%;
  }
}

.main-msg {
  position: absolute;
  max-width: 50%;
  line-height: 1.2em;
  animation: slide-left 1.5s ease-out;
  top: 25%;
  left: 25%;
  font-size: 60px;
}

@keyframes slide-left {
  from {
      left: -100px;
      opacity: 0%
  }
  to {
      opacity: 100%
  }
}

.main-page {
  margin-top: 15%;
  margin-bottom: 50%;
}

.divider {
  border: solid 4px #3F3FFF;
  border-radius: 15px;
  width: 40px;
  animation: slide-bot 1.5s ease-out;
  position: relative;
  margin:0 7%;
}

#blog-links > h3, #js-challenge > h3, #about > h3 {
  margin-top: 0;
  position: relative;
  margin:0 7%;
  font-size: 40px;
}

#blog-links {
  margin-top: 50px;
  margin-bottom: 10%;
}

#blog-links, #about {
  margin: 5% auto;
  width: 100%;
}

.img-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
}

.link-container {
  animation: slide-bot 1.5s ease-out;
}

.blog-img {
  object-fit: cover;
  width: 360px;
  height: auto;
  margin-bottom: 0;
  padding-bottom: 0;
  border-radius: 15px;
}

.blog-img:hover {
  background:blue;
  opacity:0.4;
  filter: alpha(opacity=30);
}

.link-container:hover .blog-img {
  background:blue;
  opacity:0.4;
  filter: alpha(opacity=30);
}

.blog-content > h3 {
  font-size: 30px;
  color: rgb(163 163 255);
}

.blog-content > h4 {
  text-decoration: underline;
}

.img-title {
  margin: 0;
  padding: 0;
  font-size: 25px;
  text-align: center;
  width: 360px;
}

.blog-ref-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: auto;
  margin: 0 auto;
}

.js-link {
  text-align: center;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
}

.js-link > a {
}



#about > h3 {
  margin-top: 0;
}
#about > .my-intro {
  margin:0 7%;
  font-size: 30px;
}

pre {
  background-color: #343434;
  border: 1px solid #999;
  display: block;
  margin:0;
}

.code-example {
  text-align: center;
  width: 100%;
}

.ref {
  font-size: 15px;
  text-align: center;
}

button {
  background-color: #17171F;
  border-radius: 25px;
}

button > a {
  background-color: #17171F;
  text-decoration: none;
}

button:hover a,
button:hover,
button:hover .fa-arrow-left-long {
  background-color: rgb(163 163 255);
  color: black;
  cursor: pointer;
}

#arrow {
  font-size: 50px;
}

.my-intro {
  font-size: 23px;
}

footer > p {
  text-align: center;
  margin-bottom: 3%;
  margin-top: 2%;
  font-size: 15px;
}

.line {
  border-bottom: solid 3px black;
  margin-bottom: 0;
  margin-top: 5%;
}

p {
  line-height: 4vh;
}


/******** moible responsive *********/
@media only screen and (max-width: 768px) {
  .top-bar {
    display: block
  }

  .title-container {
    display: flex;
    justify-content: center;
  }

  .nav-bar {
    display: flex;
    justify-content: space-between;
  }

  #blog-links > h3 {
    display: block;
  }

  .img-container {
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
    flex-wrap: wrap;
    margin-top: 50px;
  }

  .link-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    /* align-content: center; */
  }

  .blog-img {
    object-fit: cover;
    width: 200px;
    height: auto;
    margin-bottom: 0;
    padding-bottom: 0;
    border-radius: 15px;
  }

  .js-link {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
  }

  #blog-links {
    margin-top: 800px;
  }
}




@media only screen and (max-width: 320px) {

  header {
    padding: 0 auto;
  }

  .title, .title-container {
    font-size: 15px;
  }

  .title-container {
    margin: auto;
  }

  .nav-bar {
    margin: auto;
  }

  .top-bar {
    flex-wrap: wrap;
    justify-content: center;
  }

  .main-msg {
    position: absolute;
    font-size: 25px;
    left: 80px;
    top: 120px;
  }

  .main-page {
    margin-bottom: 400px;
  }

  .main-img {
    display: block;
    right: 55px;
    top: 90px;
    width: auto;
    height: 250px;
    animation: slide-right-mb 1.5s ease-out;
  }

  @keyframes slide-right-mb {
    from {
        right: -180px;
        opacity: 0%;
    }
    to {
        opacity: 60%;
    }
  }

  .divider {
    width: 30px;
    position: relative;
    left: 37%;
  }

  #blog-links > h3,
  #about > h3 {
    font-size: 25px;
    margin-bottom: 5px;
    text-align: center;
  }

  .img-container {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column;
    /* justify-content: space-around;
    margin: 0 auto;
    justify-items: center; */
  }

  .link-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    /* align-content: center; */
  }

  .blog-img {
    width: 220px;
    height: auto;
  }

  .top-bar {
    font-size: 20px;
  }

  #about {
    margin: 60px auto 0;
  }

  #about > .my-intro {
    font-size: 25px;
  }

  #blog-links > h3, #js-challenge > h3 #about > h3 {
    font-size: 30px;
  }

  .foot {
    font-size: 10px;
  }

  .blog-header {
    font-size: 35px;
  }

  .blog-content > h4 {
    font-size: 25px;
  }

  .blog-content > p {
    font-size: 20px;
  }
}
